/* Variables */
/* Mixins */
/* For mobile phones: */
[class*=col-] {
  width: 100%;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(245%);
  }
  100% {
    transform: translateX(0);
  }
}
.opening-animation {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  margin-top: 4rem;
}
.opening-animation img {
  width: 70%;
  height: 40%;
  -o-object-fit: contain;
     object-fit: contain;
}
.opening-animation .loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: -4rem;
  border: 1px solid #2c3e50;
  border-radius: 36px;
  width: 50%;
  height: 8px;
}
.opening-animation .loading-bar div {
  width: 72px;
  height: 6px;
  border-radius: 36px;
  background-color: #2c3e50;
  animation: slide 2s ease-in-out infinite;
}

.main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  color: #333333;
  background-color: #ffffff;
  transition: all 0.2s;
}

.container {
  margin: 0 auto;
}
.container .search {
  margin: 1rem;
}
.container .search div {
  position: relative;
  margin: 0 auto;
}
.container .search div input {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 36px;
  font-size: 1.25rem;
  font-weight: 500;
  outline: none;
  border: 2px solid #087EA4;
}
.container .search div input:focus ~ label, .container .search div input:valid ~ label {
  top: -11px;
  left: 30px;
  padding: 0.2rem 0.4rem;
  border-radius: 36px;
  font-style: normal;
  background-color: #ffffff;
  color: #087EA4;
}
.container .search div label {
  position: absolute;
  top: 13px;
  left: 30px;
  cursor: text;
  font-style: italic;
  color: #808080;
  transition: 0.2s;
}
.container .search .filtered-location {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-height: 25rem;
  overflow-y: scroll;
  border-radius: 4px;
  margin-top: 0.5rem;
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #2c3e50;
}
.container .search .filtered-location ul {
  list-style-type: none;
}
.container .search .filtered-location ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
}
.container .search .filtered-location ul li:hover {
  color: #087EA4;
}
.container .search .filtered-location ul li div:first-child {
  width: 50%;
}
.container .search .filtered-location ul li div:last-child {
  width: 50%;
  text-align: left;
}
.container .hourly-weather {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  margin: auto;
  height: 9rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.container .hourly-weather .hourly-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  overflow-y: hidden;
  overflow-x: scroll;
}
.container .hourly-weather .hourly-wrapper .time-boxes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 0 0 6rem;
  height: 6rem;
  margin: 0 0.75rem 0 0.75rem;
  border-radius: 8px;
  color: #333333;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.container .hourly-weather .hourly-wrapper .time-boxes:first-child {
  box-shadow: 0 0 0 1px #087EA4;
}
.container .current-weather {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  height: 20rem;
  margin: 1.5rem auto 1.5rem;
  border-radius: 36px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.container .current-weather .current-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 70%;
  text-shadow: -1px -1px 0 #333333, 1px -1px 0 #333333, -1px 1px 0 #333333, 1px 1px 0 #333333;
  background-color: rgba(0, 0, 0, 0.35);
  color: #fff;
  border-radius: 16px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.container .current-weather .current-wrapper > :nth-child(1) {
  font-size: 2rem;
}
.container .current-weather .current-wrapper > :nth-child(2) {
  font-size: 2.5rem;
  letter-spacing: 2px;
}
.container .current-weather .current-wrapper > :nth-child(3) {
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.container .current-weather .current-wrapper > :nth-child(3) > * {
  width: 33%;
  text-align: center;
}
.container .sub-results {
  display: flex;
  flex-direction: column;
}
.container .sub-results .cards {
  margin-bottom: 2rem;
}
.container .sub-results .cards .cards-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.container .sub-results .cards .cards-wrapper > * {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex: 0 0 27%;
  height: 124px;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.container .sub-results .cards .cards-wrapper > * > *:first-child {
  color: #333333;
}
.container .sub-results .cards .cards-wrapper > * > *:last-child {
  font-size: 1.5rem;
  width: 100%;
  text-align: right;
}
.container .sub-results .cards .cards-wrapper .daylight {
  flex: 0 0 90%;
  height: 96px;
}
.container .sub-results .daily {
  margin-bottom: 2rem;
}
.container .sub-results .daily .days {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 90%;
  margin: 1rem auto;
  height: 6rem;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
.container .sub-results .daily .days > * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
}
.container .sub-results .daily .days > :first-child {
  color: #087EA4;
  width: 25%;
  font-size: 1.25rem;
}
.container .sub-results .daily .days > :last-child {
  display: flex;
  flex-direction: row;
  width: 50%;
}
.container .sub-results .daily .days > :last-child > :first-child {
  margin-right: 2rem;
  display: flex;
  align-items: center;
}
.container .sub-results .daily .days > :last-child > :last-child {
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
}
.footer div {
  display: flex;
  align-items: center;
  margin: 0 1rem 0;
}
.footer div img {
  width: 6rem;
  height: 2rem;
  cursor: pointer;
}
.footer div a {
  text-decoration: none;
  color: rgba(33, 37, 41, 0.75);
  margin-left: 1rem;
}
.footer div a:hover {
  color: #087EA4;
}

/* For Desktop */
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(380%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .opening-animation {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    margin-top: 6rem;
  }
  .opening-animation img {
    width: 70%;
    height: 40%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .opening-animation .loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 6rem;
    border: 1px solid #2c3e50;
    border-radius: 36px;
    width: 30%;
    height: 12px;
  }
  .opening-animation .loading-bar div {
    width: 96px;
    height: 11px;
    border-radius: 36px;
    background-color: #2c3e50;
    animation: slide 2s ease-in-out infinite;
  }
  .container {
    margin: 0 auto;
  }
  .container .search {
    margin: 1rem;
  }
  .container .search div {
    position: relative;
    margin: 0 auto;
  }
  .container .search div input {
    width: 100%;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 36px;
    outline: none;
    color: #333333;
    border: 2px solid #087EA4;
  }
  .container .search div input:focus ~ label, .container .search div input:valid ~ label {
    top: -14px;
    left: 30px;
    background-color: #ffffff;
    padding: 0.2rem 0.4rem;
    font-style: normal;
    border-radius: 36px;
  }
  .container .search div label {
    position: absolute;
    top: 12px;
    left: 30px;
    transition: 0.2s;
    cursor: text;
    font-style: italic;
    color: #808080;
  }
  .container .search .filtered-location {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 35rem;
    max-height: 30rem;
    overflow-y: scroll;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    background-color: #ffffff;
    color: #333333;
  }
  .container .search .filtered-location ul {
    list-style-type: none;
  }
  .container .search .filtered-location ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.25rem;
    cursor: pointer;
  }
  .container .search .filtered-location ul li:hover {
    color: #087EA4;
  }
  .container .search .filtered-location ul li div:first-child {
    width: 50%;
  }
  .container .search .filtered-location ul li div:last-child {
    width: 50%;
    text-align: left;
  }
  .container .hourly-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
  .container .hourly-weather #prev {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 3rem;
    font-size: 3rem;
    cursor: pointer;
    transition: padding 0.5s;
    border: 2px solid #087EA4;
    background-color: #f5f5f5;
    color: #2c3e50;
    margin-left: 1.5rem;
  }
  .container .hourly-weather #prev:hover {
    background-color: #087EA4;
    color: #ffffff;
    opacity: 0.4;
    padding-right: 0.5rem;
  }
  .container .hourly-weather #prev:active {
    border: 2px solid #000;
  }
  .container .hourly-weather #next {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 3rem;
    font-size: 3rem;
    cursor: pointer;
    transition: padding 0.5s;
    border: 2px solid #087EA4;
    background-color: #f5f5f5;
    color: #2c3e50;
    margin-right: 1.5rem;
  }
  .container .hourly-weather #next:hover {
    background-color: #087EA4;
    color: #ffffff;
    opacity: 0.4;
    padding-left: 0.5rem;
  }
  .container .hourly-weather #next:active {
    border: 2px solid #000;
  }
  .container .hourly-weather .hourly-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  .container .hourly-weather .hourly-wrapper .time-boxes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex: 0 0 6rem;
    height: 6rem;
    margin: 0 0.75rem 0 0.75rem;
    color: #333333;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
  .container .current-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    height: 25rem;
    color: #fff;
    margin: 2rem auto;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
  .container .current-weather .current-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 70%;
    text-shadow: -1px -1px 0 #333333, 1px -1px 0 #333333, -1px 1px 0 #333333, 1px 1px 0 #333333;
    background-color: rgba(0, 0, 0, 0.35);
    color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
  }
  .container .current-weather .current-wrapper > :nth-child(1) {
    font-size: 2.5rem;
  }
  .container .current-weather .current-wrapper > :nth-child(2) {
    font-size: 3.5rem;
  }
  .container .current-weather .current-wrapper > :nth-child(3) {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .container .current-weather .current-wrapper > :nth-child(3) > * {
    width: 33%;
    margin-right: 1rem;
    text-align: center;
  }
  .container .sub-results {
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
  }
  .container .sub-results .cards .cards-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .container .sub-results .cards .cards-wrapper > * {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    flex: 0 0 27%;
    height: 124px;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    height: 178px;
  }
  .container .sub-results .cards .cards-wrapper > * > *:first-child {
    color: #333333;
  }
  .container .sub-results .cards .cards-wrapper > * > *:last-child {
    font-size: 1.75rem;
    width: 100%;
    text-align: right;
  }
  .container .sub-results .cards .cards-wrapper .daylight {
    flex: 0 0 90%;
    height: 144px;
    margin-top: 0.6rem;
  }
  .container .sub-results .daily .days {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 0;
    height: 4rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  }
  .container .sub-results .daily .days > * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
  }
  .container .sub-results .daily .days > :first-child {
    color: #087EA4;
    width: 25%;
    font-size: 1.25rem;
  }
  .container .sub-results .daily .days > :last-child {
    display: flex;
    flex-direction: row;
    width: 50%;
  }
  .container .sub-results .daily .days > :last-child > :first-child {
    margin-right: 2rem;
    display: flex;
    align-items: center;
  }
  .container .sub-results .daily .days > :last-child > :last-child {
    display: flex;
    align-items: center;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
  }
  .footer div {
    display: flex;
    align-items: center;
    margin: 0 2rem 0;
  }
  .footer div img {
    width: 6rem;
    height: 2rem;
    cursor: pointer;
  }
  .footer div a {
    text-decoration: none;
    color: rgba(33, 37, 41, 0.75);
    margin-left: 1rem;
  }
  .footer div a:hover {
    color: #087EA4;
  }
}/*# sourceMappingURL=App.css.map */