/* Variables */
$colors: ('day-text': #011222, 'night-text': #fff)
$font-s: ('s' : 14px, 'm' : 16px, 'l' : 20px, 'xl' : 24px)

/* Mixins */
@mixin hourlyButtons()
    width: 40px
    height: 40px
    line-height: 38px
    text-align: center
    border-radius: 50%
    font-size: 36px
    cursor: pointer
    background-color: rgba(0, 0, 0, 0.2)

/* For mobile phones: */
[class*="col-"]
    width: 100%

.main
    width: 100vw
    height: 100vh
    overflow-y: scroll
    color: map-get($colors, 'day-text')
    background-color: #fefefe
    transition: all 0.2s

.container
    margin: 0 auto

    .search
        margin: 1rem
        border: 2px solid black

        div
            position: relative
            margin: 0 auto

            input
                width: 100%
                font-size: map-get($font-s, m)
                padding: 1rem 1.5rem
                border-radius: 36px
                border: none
                outline: none

                &:focus
                    border: none

                &:focus ~ label, &:valid ~ label
                    top: -14px
                    left: 50%
                    transform: translateX(-50%)
                    font-size: map-get($font-s, s)
                    background-color: #fff
                    padding: .2rem .4rem
                    border-radius: 36px

            label
                position: absolute
                font-size: map-get($font-s, m)
                top: 12px
                left: 30px
                transition: 0.2s
                cursor: text

        .filtered-location
            position: absolute
            left: 50%
            transform: translateX(-50%)
            width: 80%
            max-height: 40vh
            overflow-y: scroll
            background-color: #fff
            border: 1px solid black

            ul
                list-style-type: none

                li
                    padding: 0.75rem 1.25rem
                    cursor: pointer
                    display: flex
                    flex-direction: row
                    align-items: center

                    &:hover
                        border-radius: 16px

                    div:first-child
                        width: 50%

                    div:last-child
                        width: 50%
                        text-align: left

    .hourly-weather
        display: flex
        align-items: center
        height: 15vh
        user-select: none
        border: 2px solid blue

        #prev
            @include hourlyButtons() // Desktop olacak Buradan Kalkacak
        #next
            @include hourlyButtons()

        .hourly-wrapper
            display: flex
            align-items: center
            height: 100%
            margin: 0 auto
            overflow-x: scroll
            border: 2px solid green

            .time-boxes
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                flex: 0 0 max(10%, 72px)
                height: 96px
                margin-right: 1rem
                border: 1px solid red

    .current-weather
        height: 40vh
        margin: 1rem 0
        border: 2px solid black

        .current-wrapper
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            height: 100%
            margin: auto
            border: 1px solid red

            & > :nth-child(1)
                font-size: 3rem
            & > :nth-child(2)
                font-size: 5rem
            & > :nth-child(3)
                display: flex
                width: 100%
                justify-content: space-between
                font-size: 1.5rem

                & > *
                    width: 33%
                    margin-right: 1rem
                    text-align: center

    .footer
        display: flex
        flex-direction: column
        border: 1px solid black

        .cards
            margin-bottom: 2rem
            border: 3px solid orange

            .cards-wrapper
                display: flex
                justify-content: space-evenly
                align-items: center
                flex-wrap: wrap

                & > *
                    flex: 0 0 40%
                    height: 144px
                    margin: 1rem 0
                    display: flex
                    flex-direction: column
                    justify-content: space-between
                    padding: 1rem 2rem 2rem 1rem
                    border: 1px solid blue

                    & > :first-child
                        font-size: map-get($font-s, m)
                    & > :last-child
                        text-align: right
                        font:
                            size: 4rem
                            weight: 400



        .daily
            border: 1px solid red

            div
                width: 100%
                height: 72px
                border: 1px solid blue




/* For desktop: */
@media only screen and (min-width: 768px)
    .col-1
        width: 8.33%

    .col-2
        width: 16.66%

    .col-3
        width: 25%

    .col-4
        width: 33.33%

    .col-5
        width: 41.66%

    .col-6
        width: 50%

    .col-7
        width: 58.33%

    .col-8
        width: 66.66%

    .col-9
        width: 75%

    .col-10
        width: 83.33%

    .col-11
        width: 91.66%

    .col-12
        width: 100%


// Search Bar
// Serch Dropdown
// Prev And Next Button