/* Variables */
/* Mixins */
/* For mobile phones: */
[class*=col-] {
  width: 100%;
}

.main {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  color: #011222;
  background-color: #fefefe;
  transition: all 0.2s;
}

.container {
  margin: 0 auto;
}
.container .search {
  margin: 1rem;
  border: 2px solid black;
}
.container .search div {
  position: relative;
  margin: 0 auto;
}
.container .search div input {
  width: 100%;
  font-size: 16px;
  padding: 1rem 1.5rem;
  border-radius: 36px;
  border: none;
  outline: none;
}
.container .search div input:focus {
  border: none;
}
.container .search div input:focus ~ label, .container .search div input:valid ~ label {
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  background-color: #fff;
  padding: 0.2rem 0.4rem;
  border-radius: 36px;
}
.container .search div label {
  position: absolute;
  font-size: 16px;
  top: 12px;
  left: 30px;
  transition: 0.2s;
  cursor: text;
}
.container .search .filtered-location {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-height: 40vh;
  overflow-y: scroll;
  background-color: #fff;
  border: 1px solid black;
}
.container .search .filtered-location ul {
  list-style-type: none;
}
.container .search .filtered-location ul li {
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container .search .filtered-location ul li:hover {
  border-radius: 16px;
}
.container .search .filtered-location ul li div:first-child {
  width: 50%;
}
.container .search .filtered-location ul li div:last-child {
  width: 50%;
  text-align: left;
}
.container .hourly-weather {
  display: flex;
  align-items: center;
  height: 15vh;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: 2px solid blue;
}
.container .hourly-weather #prev {
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border-radius: 50%;
  font-size: 36px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
.container .hourly-weather #next {
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border-radius: 50%;
  font-size: 36px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
.container .hourly-weather .hourly-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  overflow-x: scroll;
  border: 2px solid green;
}
.container .hourly-weather .hourly-wrapper .time-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 max(10%, 72px);
  height: 96px;
  margin-right: 1rem;
  border: 1px solid red;
}
.container .current-weather {
  height: 40vh;
  margin: 1rem 0;
  border: 2px solid black;
}
.container .current-weather .current-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  border: 1px solid red;
}
.container .current-weather .current-wrapper > :nth-child(1) {
  font-size: 3rem;
}
.container .current-weather .current-wrapper > :nth-child(2) {
  font-size: 5rem;
}
.container .current-weather .current-wrapper > :nth-child(3) {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 1.5rem;
}
.container .current-weather .current-wrapper > :nth-child(3) > * {
  width: 33%;
  margin-right: 1rem;
  text-align: center;
}
.container .footer {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.container .footer .cards {
  margin-bottom: 2rem;
  border: 3px solid orange;
}
.container .footer .cards .cards-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.container .footer .cards .cards-wrapper > * {
  flex: 0 0 40%;
  height: 144px;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2rem 2rem 1rem;
  border: 1px solid blue;
}
.container .footer .cards .cards-wrapper > * > :first-child {
  font-size: 16px;
}
.container .footer .cards .cards-wrapper > * > :last-child {
  text-align: right;
  font-size: 4rem;
  font-weight: 400;
}
.container .footer .daily {
  border: 1px solid red;
}
.container .footer .daily div {
  width: 100%;
  height: 72px;
  border: 1px solid blue;
}

/* For desktop: */
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}/*# sourceMappingURL=App.css.map */