@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&family=Roboto:wght@100;300&display=swap');

html {
  font-size: clamp(0.75rem, 0.6799rem + 0.3297vw, 1.125rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 3px;
  height: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: #087EA4;
  border-radius: 8px;
}

body {
  font-family: 'Poppins', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden
}